body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e299;
}

header, footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.responsive-img {
    max-width: 100%; 
}

main {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    border-radius: 8px;
}

h2 {
    margin-top: 0;
}

ol {
    list-style-type: none;
    padding: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}

ol li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    
}

ul li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    
    main {
        padding: 10px;
    }
}
